<nav class="navbar" role="navigation" aria-label="main navigation">

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/"><strong>Home</strong></a>

    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a id="logoutButton" class="button is-danger">
            <strong>Log out</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

{{#each posts}}
<div class="post">
  <h3>{{title}}</h3>
  <p>{{content}}</p>
</div>
{{/each}}


<div class="container">
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <h2 class="title is-2">Create a New Blog Post</h2>
      <form id="createPostForm">
        <div class="field">
          <label class="label" for="title">Title</label>
          <div class="control">
            <input class="input" type="text" id="title" name="title" placeholder="Enter the title" required>
          </div>
        </div>
        <div class="field">
          <label class="label" for="content">Content</label>
          <div class="control">
            <textarea class="textarea" id="content" name="content" placeholder="Enter the content" required></textarea>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button class="button is-primary" type="submit">Create Post</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
