<div class="column">
  <form action="/api/users/logout" method="GET">
    <h2 class="title is-size-1 has-text-centered">LOGOUT</h2>

      <div class="field is-grouped">
        <div class="control">
          <button id="logoutButton" class="button is-link">Logout</button>
        </div>
        <script src="./js/login.js"></script>
      </div>
    </div>
  </form>
</div>



<script src="./js/logout.js"></script>
<script src="/js/redirect.js"></script>